<div class="jumbotron">
  <h1>App para curso de Angular en Coursera</h1>
  <p>Hagamos una app de anime! porque soy friki</p>
</div>
<div class="container">
  <div *ngIf="selectedSeason">
    <h2>{{selectedSeason.season_name}} - {{selectedSeason.season_year}}</h2>
    <form>
      <div class="input-group mb-3">
        <input type="text" class="form-control" aria-label="Sizing example input" #input>
        <div class="input-group-append">
          <button type="submit" (click)="filterList(input.value)"
                  [disabled]="input.value && input.value.length > 0"
                  class="btn btn-info">Buscar</button>
        </div>
      </div>
    </form>

    <div class="row">
      <app-item-list [anime]="anime" *ngFor="let anime of listAnime"></app-item-list>
    </div>
  </div>
</div>
